@model IEnumerable<ProductBookinUI.Models.CarProduct>

@{
    ViewBag.Title = "GetCarProducts";
}

<h2>GetCarProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
      
        <td>
            @Html.ActionLink("Book", "BookProductIntoDB", new { @productId = item.Id }) |
            @Html.ActionLink("Save", "SaveProductIntoDB", new { @productId = item.Id })
        </td>
    </tr>
}

</table>
