@model IEnumerable<ProductBookinUI.Models.CarProduct>

@{
    ViewBag.Title = "GetSavedProds";
}

<h2>GetSavedProds</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>  
    </tr>
}

</table>
