@model IEnumerable<ProductBookinUI.Models.ActivityProduct>

@{
    ViewBag.Title = "Activity Products";
}

<h2>GetActivityProducts</h2>

<p> 
    @Html.ActionLink("Get Saved Items", "GetSavedProds")
</p>
<p>@Html.ActionLink("Get Booked Items", "GetBookedProds")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
       
        <td>
            @Html.ActionLink("Book", "BookProductIntoDB", new { @productId = item.Id }) |
            @Html.ActionLink("Save", "SaveProductIntoDB", new { @productId = item.Id}) 
     
            
        </td>
    </tr>
}

</table>
