@model IEnumerable<ProductBookinUI.Models.HotelProduct>

@{
    ViewBag.Title = "GetHotelProducts";
}

<h2>GetHotelProducts</h2>
<p>
    @Html.ActionLink("Get Saved Items", "GetSavedProds")
</p>
<p>@Html.ActionLink("Get Booked Items", "GetBookedProds")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
   
        <td>
            @Html.ActionLink("Book", "BookProductIntoDB", new { @productId = item.Id }) |
            @Html.ActionLink("Save", "SaveProductIntoDB", new { @productId = item.Id })
        </td>
    </tr>
}

</table>
